{% extends "base.html" %}

{% block content %}
<div class="container-md px-5 mt-5">
    <div class="row text-center">
        <h1 class="font-weight-bold">Welcome to the Vroom Blog</h1>
        <h4>The best source of car reviews online.</h4>
        <a class="text-black" href="https://github.com/emanuelsantos2/esantos-blog" type="submit"><i class="fa-brands fa-github"></i></a>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="blog-post-container">
                <!-- Blog Post Image -->
                <img class="blog-post-image rounded" src="{{main_post.img_url}}" alt="Blog Post Image">
            
                <!-- Blog Post Title -->
                <div class="blog-post-title">
                    <h1 class="">{{main_post.title}}</h1>
                    <a type="button rounded" href="{{ url_for('post',id=main_post.id) }}" class="btn btn-outline-light">Read Article <i class="fa-brands fa-readme"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            {% for post in posts %}
            <div class="blog-post-container mb-2">
                <!-- Blog Post Image -->
                <img class="blog-post-image rounded" src="{{post.img_url}}" alt="Blog Post Image">
            
                <!-- Blog Post Title -->
                <a href="{{ url_for('post',id=post.id) }}"><h3 class="blog-post-title">{{post.title}}</h3></a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row mt-1">
        <a type="button"  href="{{ url_for('posts_page',page_id=1) }}" class="btn btn-outline-light text-dark">See More</a>
    </div>
</div>

<div class="container-fluid bg-dark text-white pb-5">
    <div class="row pt-2">
        <div class="col">
            <h3 class="text-center">
            Explore all our reviews
            </h3>
        </div>
    </div>
    <div class="container-md px-5 mt-5">
        <div class="row mt-1 text-center">
            {% for category in categories %}
            <div class="col-2 text-white categories-card mt-2">
                <a class="btn" href="/posts_list/categories/{{category.id}}">
                    <img src="{{category.img_url}}" alt="Image" class="mr-2 btn-categories-img"> <!-- Add your image source -->
                    {{category.name}}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container-md px-5 pb-5 mt-5">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
            Our top reviews
            </h3>
        </div>
        {% for post in top_posts %}
        <div class="col-md-4">
            <div class="post-container">
              <div class="round-image rounded">
                <img src="{{post.img_url}}" class="img-fluid">
              </div>
              <a href="{{ url_for('post',id=post.id) }}" style="color:black;"><h3 class="mt-2 text-center">{{post.title}}</h3></a>
            </div>
          </div>
          {% endfor %}
    </div>
</div>
{% endblock %}